.authform
  %h3 Sign up
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form' }) do |f|    
    = display_base_errors resource
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, required: true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, required: true, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, required: true, class: 'form-control'
    = f.submit 'Sign up', class: 'button right'
    = render "devise/shared/links"
